#include "resource.h"

IDI_APP_ICON ICON "assets/CharterMediaPlayer.ico"
IDI_HOME_ICON ICON "assets/icons/home.ico"
IDI_DOWNLOADS_ICON ICON "assets/icons/downloads.ico"
IDI_SETTINGS_ICON ICON "assets/icons/settings.ico"
IDI_FOLDER_ICON ICON "assets/icons/folder.ico"
IDI_ADD_ICON ICON "assets/icons/add.ico"
IDI_TRASH_ICON ICON "assets/icons/trash.ico"
IDI_PENCIL_ICON ICON "assets/icons/pencil.ico"
IDI_SEARCH_ICON ICON "assets/icons/search.ico"
IDI_DOWNLOAD_ICON ICON "assets/icons/download.ico"
IDI_SAVE_ICON ICON "assets/icons/save.ico"
IDI_CLOSE_ICON ICON "assets/icons/close.ico"
IDI_REFRESH_ICON ICON "assets/icons/refresh.ico"
IDI_LOOP_ICON ICON "assets/icons/loop.ico"
IDI_SHUFFLE_ICON ICON "assets/icons/shuffle.ico"
IDI_STAR_ICON ICON "assets/icons/star.ico"
IDI_HEART_ICON ICON "assets/icons/heart.ico"
IDI_MUTE_ICON ICON "assets/icons/mute.ico"
IDI_MUSICAL_ICON ICON "assets/icons/musical.ico"
IDI_YOUTUBE_ICON ICON "assets/icons/youtube.ico"

1 24 "resources/CharterMediaPlayer.manifest"
